                    <a href="events.html"><li id="events">Events</li></a>
                    <li class="dropdown" id="categories">
                        <a href="javascript:void(0)" class="dropdown-toggle">Categories <i class="fas fa-chevron-down"></i></a>
                        <div class="dropdown-content" id="categoryDropdown">
                            <!-- Categories will be loaded here -->
                        </div>
                    </li>
                    <a href="Booked_event.html"><li id="booked">Booked Events</li></a>
                    <a href="favorites.html"><li id="favorites">Favorites</li></a> 